/**
 * 行内对齐
 */
.inline-center {
  text-align: center !important;
}
.inline-right {
  text-align: right !important;
}

/**
 * 浮动相关
 */
.no-float {
  float: none !important;
}
.clear-fix:after {
  clear: both;
  content: '';
  display: block;
}
.ofw-y-scroll {
  overflow-y: scroll !important;
}

.ofw-hidden {
  overflow: hidden !important;
}

/**
 * 内边距, 外边距
 */
.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
@for $i from -6 through 6 {
  .pd#{$i} {
    padding: $smaller-size * $i !important;
  }
  .pdt#{$i} {
    padding-top: $smaller-size * $i !important;
  }
  .pdl#{$i} {
    padding-left: $smaller-size * $i !important;
  }
  .pdb#{$i} {
    padding-bottom: $smaller-size * $i !important;
  }
  .pdr#{$i} {
    padding-right: $smaller-size * $i !important;
  }
  .mg#{$i} {
    margin: $smaller-size * $i !important;
  }
  .mgt#{$i} {
    margin-top: $smaller-size * $i !important;
  }
  .mgl#{$i} {
    margin-left: $smaller-size * $i !important;
  }
  .mgb#{$i} {
    margin-bottom: $smaller-size * $i !important;
  }
  .mgr#{$i} {
    margin-right: $smaller-size * $i !important;
  }
}

/**
 * 显示相关
 */
.common-shadow {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.14);
}
.pointer {
  cursor: pointer !important;
}
.block {
  display: block !important;
}
.hidden {
  display: none !important;
}
.unuser-select {
  user-select: none;
}
.no-border {
  border: none !important;
}
.h100 {
  height: 100% !important;
}
.width-auto {
  width: auto !important;
}
.min-width-auto {
  min-width: auto !important;
}
.w100 {
  width: 100% !important;
}
.transparent {
  background: transparent !important;
}

/**
 * 字符串显示相关
 */
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.break-all {
  word-break: break-all;
  word-wrap: break-all;
}
.monospace {
  font-family: monospace !important;
}
.bold {
  font-weight: 500;
}
.boldest {
  font-weight: 700;
}
.letter-space-large {
  letter-spacing: 2px;
}
.letter-space-normal {
  letter-spacing: 1.7px;
}
.letter-space-small {
  letter-spacing: 1.4px;
}

/**
 * 字符块或表格单元最小宽度
 */
@for $i from 2 through 12 {
  .c-#{$i}-words,
  .th-#{$i}-words,
  .td-#{$i}-words {
    min-width: $smaller-size * ($i + 1) !important;
  }
}

/**
 * 字体颜色, 图标颜色
 *  参考  maxweb-variables: $color-list
 */
@for $i from 1 through length($color-list) {
  $color: nth($color-list, $i);
  $key: nth($color, 1);
  $value: nth($color, 2);
  .#{$key} {
    color: #{$value} !important;
  }
  .bg-#{$key} {
    background-color: #{$value} !important;
  }
}

/**
 * 字体大小, 图标大小
 *  参考  maxweb-variables: $size-list
 */
@each $size in $size-list {
  $key: nth($size, 1);
  $value: nth($size, 2);
  .font-#{$key},
  .icon-#{$key} {
    font-size: #{$value} !important;
  }
}


/**
 * flex 相关
 */
.flex {
  flex: 1 !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.vertical-flex-start {
  align-items: flex-start !important;
}
