$basic-length: 8px;

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  &.dashed {
    border-top: 1px dashed #e0e0e0;
  }
}

.inline-center {
  text-align: center !important;
}

.inline-right {
  text-align: right !important;
}

.clear-fix:after {
  clear: both;
  content: '';
  display: block;
}

.unuser-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-margin {
  margin: 0 !important;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-padding {
  padding: 0 !important;
}

@for $i from -5 through 5 {
  .pdt#{$i} {
    padding-top: $basic-length * $i !important;
  }

  .pdl#{$i} {
    padding-left: $basic-length * $i !important;
  }

  .pdb#{$i} {
    padding-bottom: $basic-length * $i !important;
  }

  .pdr#{$i} {
    padding-right: $basic-length * $i !important;
  }

  .mgt#{$i} {
    margin-top: $basic-length * $i !important;
  }

  .mgl#{$i} {
    margin-left: $basic-length * $i !important;
  }

  .mgb#{$i} {
    margin-bottom: $basic-length * $i !important;
  }

  .mgr#{$i} {
    margin-right: $basic-length * $i !important;
  }
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.hidden {
  display: none !important;
}

.ofw-hidden {
  overflow: hidden;
}

.text-ellipsis {
  display: block;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.relative {
  position: relative !important;
}

.absolute-center {
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 45%;
}

.break-all {
  word-break: break-all;
  word-wrap: break-all;
}

table.table {
  background: white;
  line-height: 36px;
  text-align: left;
  width: 100%;
  &.no-wrap {
    tr th,
    tr td {
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  tr th {
    background: #eee;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    padding: $basic-length / 4 $basic-length;
    &.no-wrap {
      white-space: nowrap;
    }
  }
  tr td {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    padding: $basic-length / 4 $basic-length;
    &.no-wrap {
      white-space: nowrap;
    }
  }
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.02); 
    &:nth-child(EVEN) {
      background-color: #d7d7d7;
    }
  }
}

@for $i from 2 through 12 {
  .th-#{$i}-words,
  .td-#{$i}-words {
    min-width: $basic-length * $i !important;
  }
}
